.elementor-4362 .elementor-element.elementor-element-0e29976{--display:flex;--background-transition:0.3s;--overlay-opacity:0.5;--padding-top:32px;--padding-bottom:64px;--padding-left:0px;--padding-right:0px;--z-index:100;}.elementor-4362 .elementor-element.elementor-element-0e29976:not(.elementor-motion-effects-element-type-background), .elementor-4362 .elementor-element.elementor-element-0e29976 > .elementor-motion-effects-container > .elementor-motion-effects-layer{background-color:#050505;}.elementor-4362 .elementor-element.elementor-element-0e29976::before, .elementor-4362 .elementor-element.elementor-element-0e29976 > .elementor-background-video-container::before, .elementor-4362 .elementor-element.elementor-element-0e29976 > .e-con-inner > .elementor-background-video-container::before, .elementor-4362 .elementor-element.elementor-element-0e29976 > .elementor-background-slideshow::before, .elementor-4362 .elementor-element.elementor-element-0e29976 > .e-con-inner > .elementor-background-slideshow::before, .elementor-4362 .elementor-element.elementor-element-0e29976 > .elementor-motion-effects-container > .elementor-motion-effects-layer::before{--background-overlay:'';background-color:#012329;}.elementor-4362 .elementor-element.elementor-element-0e29976, .elementor-4362 .elementor-element.elementor-element-0e29976::before{--border-transition:0.3s;}.elementor-4362 .elementor-element.elementor-element-ab52b43 img{width:180px;}.elementor-4362 .elementor-element.elementor-element-ce27742 .elementor-field-group{padding-right:calc( 12px/2 );padding-left:calc( 12px/2 );margin-bottom:18px;}.elementor-4362 .elementor-element.elementor-element-ce27742 .elementor-form-fields-wrapper{margin-left:calc( -12px/2 );margin-right:calc( -12px/2 );margin-bottom:-18px;}.elementor-4362 .elementor-element.elementor-element-ce27742 .elementor-field-group.recaptcha_v3-bottomleft, .elementor-4362 .elementor-element.elementor-element-ce27742 .elementor-field-group.recaptcha_v3-bottomright{margin-bottom:0;}body.rtl .elementor-4362 .elementor-element.elementor-element-ce27742 .elementor-labels-inline .elementor-field-group > label{padding-left:7px;}body:not(.rtl) .elementor-4362 .elementor-element.elementor-element-ce27742 .elementor-labels-inline .elementor-field-group > label{padding-right:7px;}body .elementor-4362 .elementor-element.elementor-element-ce27742 .elementor-labels-above .elementor-field-group > label{padding-bottom:7px;}.elementor-4362 .elementor-element.elementor-element-ce27742 .elementor-field-group > label, .elementor-4362 .elementor-element.elementor-element-ce27742 .elementor-field-subgroup label{color:#FFFFFF;}.elementor-4362 .elementor-element.elementor-element-ce27742 .elementor-field-group > label{font-family:"normalidad-text", Sans-serif;font-size:15px;font-weight:400;line-height:20px;}.elementor-4362 .elementor-element.elementor-element-ce27742 .elementor-field-type-html{padding-bottom:0px;color:#FFFFFF;font-size:17px;font-weight:400;line-height:20px;}.elementor-4362 .elementor-element.elementor-element-ce27742 .elementor-field-group .elementor-field{color:#FFFFFF;}.elementor-4362 .elementor-element.elementor-element-ce27742 .elementor-field-group .elementor-field, .elementor-4362 .elementor-element.elementor-element-ce27742 .elementor-field-subgroup label{font-family:"Poppins", Sans-serif;font-size:16px;font-weight:100;line-height:20px;}.elementor-4362 .elementor-element.elementor-element-ce27742 .elementor-field-group:not(.elementor-field-type-upload) .elementor-field:not(.elementor-select-wrapper){background-color:#16292D;border-color:#39565C;border-width:1px 1px 1px 1px;border-radius:6px 6px 6px 6px;}.elementor-4362 .elementor-element.elementor-element-ce27742 .elementor-field-group .elementor-select-wrapper select{background-color:#16292D;border-color:#39565C;border-width:1px 1px 1px 1px;border-radius:6px 6px 6px 6px;}.elementor-4362 .elementor-element.elementor-element-ce27742 .elementor-field-group .elementor-select-wrapper::before{color:#39565C;}.elementor-4362 .elementor-element.elementor-element-ce27742 .elementor-button{font-family:"Normalidad", Sans-serif;font-size:18px;font-weight:700;border-style:solid;border-width:1px 1px 1px 1px;border-radius:5px 5px 5px 5px;}.elementor-4362 .elementor-element.elementor-element-ce27742 .e-form__buttons__wrapper__button-next{background-color:#28E6BB;color:#FFFFFF;border-color:#159A72;}.elementor-4362 .elementor-element.elementor-element-ce27742 .elementor-button[type="submit"]{background-color:#28E6BB;color:#FFFFFF;border-color:#159A72;}.elementor-4362 .elementor-element.elementor-element-ce27742 .elementor-button[type="submit"] svg *{fill:#FFFFFF;}.elementor-4362 .elementor-element.elementor-element-ce27742 .e-form__buttons__wrapper__button-previous{color:#ffffff;border-color:#159A72;}.elementor-4362 .elementor-element.elementor-element-ce27742 .e-form__buttons__wrapper__button-next:hover{background-color:#FFFFFF;color:#FFFFFF;}.elementor-4362 .elementor-element.elementor-element-ce27742 .elementor-button[type="submit"]:hover{background-color:#FFFFFF;color:#FFFFFF;}.elementor-4362 .elementor-element.elementor-element-ce27742 .elementor-button[type="submit"]:hover svg *{fill:#FFFFFF;}.elementor-4362 .elementor-element.elementor-element-ce27742 .e-form__buttons__wrapper__button-previous:hover{color:#ffffff;}.elementor-4362 .elementor-element.elementor-element-ce27742{--e-form-steps-indicators-spacing:0px;--e-form-steps-indicator-padding:0px;--e-form-steps-indicator-inactive-secondary-color:#ffffff;--e-form-steps-indicator-active-secondary-color:#ffffff;--e-form-steps-indicator-completed-secondary-color:#ffffff;--e-form-steps-divider-width:1px;--e-form-steps-divider-gap:0px;}.elementor-4362 .elementor-element.elementor-element-ce27742 > .elementor-widget-container{margin:0rem 0rem 0rem 0rem;}.elementor-4362 .elementor-element.elementor-element-19274a1{--display:flex;--background-transition:0.3s;}#elementor-popup-modal-4362 .dialog-message{width:800px;height:auto;}#elementor-popup-modal-4362{justify-content:center;align-items:center;pointer-events:all;background-color:#00000094;}#elementor-popup-modal-4362 .dialog-close-button{display:flex;font-size:22px;}#elementor-popup-modal-4362 .dialog-widget-content{border-radius:2px 2px 2px 2px;box-shadow:2px 8px 23px 3px rgba(0,0,0,0.2);}#elementor-popup-modal-4362 .dialog-close-button i{color:#FFFFFF;}#elementor-popup-modal-4362 .dialog-close-button svg{fill:#FFFFFF;}@media(max-width:767px){.elementor-4362 .elementor-element.elementor-element-0e29976{--content-width:90vw;--justify-content:center;}.elementor-4362 .elementor-element.elementor-element-ab52b43 img{width:159px;}.elementor-4362 .elementor-element.elementor-element-ce27742 .elementor-field-group > label{font-size:15px;}.elementor-4362 .elementor-element.elementor-element-ce27742 > .elementor-widget-container{margin:0rem 0rem 0rem 0rem;}#elementor-popup-modal-4362{justify-content:center;align-items:center;}#elementor-popup-modal-4362 .dialog-widget-content{margin:0rem 0rem 0rem 0rem;}}@media(min-width:768px){.elementor-4362 .elementor-element.elementor-element-0e29976{--content-width:500px;}}/* Start custom CSS for form, class: .elementor-element-ce27742 */::placeholder{
    opacity: 1 !important;
}

.elementor-4362 .elementor-element.elementor-element-ce27742 .elementor-button{
    background: linear-gradient(to right, #024540, #0FB9A0);
}

.elementor-4362 .elementor-element.elementor-element-ce27742 .elementor-button {
  width: 100%;
  position: relative;
 
  overflow: hidden;
  -webkit-transition: all 0.2s ease-in;
  -moz-transition: all 0.2s ease-in;
  transition: all 0.2s ease-in;
}

.elementor-4362 .elementor-element.elementor-element-ce27742 .elementor-button:hover {
  background: #024540 !important;
  color: #ffffff !important;
 
  -webkit-transition: all 0.2s ease-out;
  -moz-transition: all 0.2s ease-out;
  transition: all 0.3s ease-out;

}

.elementor-4362 .elementor-element.elementor-element-ce27742 .elementor-button:hover::before {
  -webkit-animation: sh02 0.5s 0s linear;
  -moz-animation: sh02 0.5s 0s linear;
  animation: sh02 0.7s 0s linear;
}

.elementor-4362 .elementor-element.elementor-element-ce27742 .elementor-button::before {
  content: '';
  display: block;
  width: 0px;
  height: 86%;
  position: absolute;
  top: 7%;
  left: 0%;
  opacity: 0;
  background: #fff;
  box-shadow: 0 0 50px 30px #fff;
  -webkit-transform: skewX(-20deg);
  -moz-transform: skewX(-20deg);
  -ms-transform: skewX(-20deg);
  -o-transform: skewX(-20deg);
  transform: skewX(-20deg);
}

@keyframes sh02 {
  from {
    opacity: 0;
    left: 0%;
  }

  50% {
    opacity: 1;
  }

  to {
    opacity: 0;
    left: 100%;
  }
}

.elementor-4362 .elementor-element.elementor-element-ce27742 .elementor-button:active {
  box-shadow: inset 0px 0px 5px 5px #ffffff25, 0px 5px 0px 0px #161616, 0px 10px 5px 0px #00000085 !important;
  -webkit-transition: box-shadow 0.2s ease-in;
  -moz-transition: box-shadow 0.2s ease-in;
    transition: all 0.1s ease-in;
  transform: scale(1);
}/* End custom CSS */
/* Start custom CSS for html, class: .elementor-element-194d12c */.iti, .iti--allow-dropdown{
    width: 100% !important;
}

.iti__selected-dial-code{
    font-size: 16px;
}

.iti__country-name{
    font-size: 16px;
}

.iti__dial-code{
    font-size: 16px;
}
.iti__selected-dial-code{
    color: #159A72;
}/* End custom CSS */
/* Start Custom Fonts CSS */@font-face {
	font-family: 'Poppins';
	font-style: normal;
	font-weight: 300;
	font-display: swap;
	src: url('https://consultmedicalprime.com.br/wp-content/uploads/2024/10/Poppins-Medium-1.woff2') format('woff2'),
		url('https://consultmedicalprime.com.br/wp-content/uploads/2024/10/Poppins-Medium.woff') format('woff');
}
@font-face {
	font-family: 'Poppins';
	font-style: normal;
	font-weight: 400;
	font-display: swap;
	src: url('https://consultmedicalprime.com.br/wp-content/uploads/2024/10/Poppins-SemiBold.woff2') format('woff2'),
		url('https://consultmedicalprime.com.br/wp-content/uploads/2024/10/Poppins-SemiBold.woff') format('woff');
}
@font-face {
	font-family: 'Poppins';
	font-style: normal;
	font-weight: 600;
	font-display: swap;
	src: url('https://consultmedicalprime.com.br/wp-content/uploads/2024/10/Poppins-Bold.woff2') format('woff2'),
		url('https://consultmedicalprime.com.br/wp-content/uploads/2024/10/Poppins-Bold.woff') format('woff');
}
@font-face {
	font-family: 'Poppins';
	font-style: normal;
	font-weight: 700;
	font-display: swap;
	src: url('https://consultmedicalprime.com.br/wp-content/uploads/2024/10/Poppins-ExtraBold.woff2') format('woff2'),
		url('https://consultmedicalprime.com.br/wp-content/uploads/2024/10/Poppins-ExtraBold.woff') format('woff');
}
@font-face {
	font-family: 'Poppins';
	font-style: normal;
	font-weight: 200;
	font-display: swap;
	src: url('https://consultmedicalprime.com.br/wp-content/uploads/2024/10/Poppins-Regular.woff2') format('woff2'),
		url('https://consultmedicalprime.com.br/wp-content/uploads/2024/10/Poppins-Regular.woff') format('woff');
}
/* End Custom Fonts CSS */
/* Start Custom Fonts CSS */@font-face {
	font-family: 'Normalidad';
	font-style: normal;
	font-weight: 400;
	font-display: swap;
	src: url('https://consultmedicalprime.com.br/wp-content/uploads/2025/02/normalidad-tex-regular.woff2') format('woff2'),
		url('https://consultmedicalprime.com.br/wp-content/uploads/2025/02/normalidad-tex-regular.woff') format('woff');
}
@font-face {
	font-family: 'Normalidad';
	font-style: normal;
	font-weight: 700;
	font-display: swap;
	src: url('https://consultmedicalprime.com.br/wp-content/uploads/2025/02/normalidad-wide-bold.woff2') format('woff2'),
		url('https://consultmedicalprime.com.br/wp-content/uploads/2025/02/normalidad-wide-bold.woff') format('woff');
}
/* End Custom Fonts CSS */